# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis:8.0.4-alpine
        ports:
          - "6379:6379"

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4

    - name: Linked list testing
      run: go test ./internal/lru_cache/linked_list/

    - name: LRU-map cache testing
      run: go test ./internal/lru_cache/

    - name: TTL-map cache testing
      run: go test ./internal/ttl_cache/
